.line-chart{
    height: calc(100% - 25px);
    width: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        .data-point {
            position: absolute;
            background-color: $primaryRed;
            border: 2px solid $primaryRed;
            border-radius: 50%;
            height: 10px;
            position: absolute;
            width: 10px;
            z-index: 1;

            &:hover{
                >div{
                    display: block;
                }
            }

            >div{
                display: none;
                white-space: nowrap;
                position: absolute;
                padding: 10px;
            }
        }

        .line{
            position: absolute;
            background: $primaryRed;
            transform-origin: left bottom;
            height: 3px;
        }
    }

    .line-chart-x-axis{
        height: 100%;
    }
}