.red-button{
    background: $primaryRed;
    border-radius: 5px;
    position: relative;
    
    *{
        color: $white !important;
    }


    svg{
        g{
            stroke: $white;
        }
    }
}

button{
    border:0;
}