// main colours
$primaryGreen: #00DA32;
$primaryOrange: #F95731;
$primaryPurple: #A431F9;
$primaryRed: #FF4C4C;

// Dark Mode
$black: #111315;
$blackLight: #1A1D1F;

// Light Mode
$white: #FFFFFF;
$grayLight: #F2F2F2;
$gray: #B2AEAE;