.grid-container{
    display: grid;
    gap: 12px;
    grid-template-columns: 592px 331px;
    grid-template-rows: repeat(2 , minmax(270px , auto));
    width: fit-content;
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    margin: auto;
    height: fit-content;

    .grid-item-content{
        height: calc(100% - 50px);
    }

    .grid-item{
        align-items: center;
        border-radius: 10px;
        padding: 16px 30px;
    }

    @media only screen and (max-width: 1127px){
        grid-template-columns: 1fr;
    }
}