// background transparent with solid no opacity border
@mixin semiTransparentColouredBorderBox($prop , $color){
    #{$prop}{
        background: rgba($color , 0.3);
        border:solid 1px $color;
        color: $color;
    }
}


@mixin filteredTag($prop , $color){
    #{$prop}{
        background: $color;
    }
}


@mixin tag{
    justify-content: space-between;
	border-radius: 20px;
	padding: 3px 10px;
	font-size: 9px;
	text-transform: uppercase;
}
