// background transparent with solid no opacity border
@mixin semiTransparentColouredBorderBox($prop , $color){
    #{$prop}{
        background: rgba($color , 0.3);
        border:solid 1px $color;

        svg{
            polyline{
                stroke: $color;
            }
        }
    }
}


@mixin filteredTag($prop , $color){
    #{$prop}{
        background: $color;
    }
}

@mixin structureBlock($prop , $color){
    #{$prop}{
        background: rgba($color , 0.9);
    }
}


@mixin tag{
    justify-content: space-between;
	border-radius: 20px;
	padding: 3px 10px;
	text-transform: uppercase;
}
