.restructure{
    &-backdrop{
        // position: fixed;
        // z-index: 2;
        // display: flex;
        // flex-wrap: wrap;
        // place-content: center;

        &  , &::after{
            height: calc(100% - 76px);
        }

        .restructure-options{
            position: absolute;
            width: 100%;
            height: 30px;
            bottom: 0;

            >div{
                width: 50%;
                font-size: 11px;
                color: $white;
            }
        }

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
        }

        &-inner{
            // max-width: 500px;
            min-width: 280px;
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5px;

            &-content{
                height: calc(100% - 30px);
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;
                display: flex;
                place-content: center;
            }

            .restructure-block-color{
                place-content: center;
                background: $white;
                border-radius: 5px;
                height: 120px;
                

                .restructure-board-widths{

                    .current-width{
                        border: solid 1px $white;
                        background: inherit;
                    }

                    .close{
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        width: 15px;
                        height: 15px;

                        line{
                            stroke: $white;
                            stroke-width:3px;
                        }
                    }   
                }


                @include transparentBackground("&.red" , $primaryRed , 0.9);
                @include transparentBackground("&.purple" , $primaryPurple , 0.9);
                @include transparentBackground("&.orange" , $primaryOrange , 0.9);
                @include transparentBackground("&.green" , $primaryGreen , 0.9);
                @include transparentBackground("&.from-selected" , $primaryBlue , 0.9);
                @include transparentBackground("&.move-here" , $gray , 0.9);
                @include transparentBackground("&.to-selected" , $primaryBlue , 0.9);
                
                [data-options="order"]{
                    border-bottom-left-radius: 5px;
                    border-top: solid 0.5px rgba($white , 0.3);
        
                    &::after{
                        content: "Order";
                    }

                    @media only screen and (max-width: 1127px){
                        &{
                            width: 100%;
                        }
                    }
                }
                
        
                [data-options="width"]{
                    background: rgba($white , 0.3);
                    border-bottom-right-radius: 5px;
        
                    &::after{
                        content: "Width";
                    }

                    @media only screen and (max-width: 1127px){
                        &{
                            display: none;
                        }
                    }
                }

                &.from-selected{
                    [data-options="order"]{
                        background: $white;
                        color: $primaryBlue;

                        &::after{
                            content: "From";
                        }
                    }
                }

                &.move-here{
                    [data-options="order"]{
                        background: $white;
                        color: $gray;
            
                        &::after{
                            content: "To";
                        }
                    }
                }

                .restructure-backdrop-inner-content{
                    gap:10px;
                    color: $white;
                    text-transform: uppercase;
                    font-size: 11px;
                    pointer-events: none;
                }

                svg{
                    width: 25px;
                    g{
                        stroke: $white;
                    }
                }

                @media only screen and (max-width: 1127px){
                    &{
                        grid-column: auto / span 3 !important;
                    }
                }
            }
        }
    }
}

@include selectWidths(restructure-board-widths);

.restructure-block-color{
    position: relative;
    @include selectWidths(choose-block-width);
}