.restructure{
    &-backdrop{
        position: fixed;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        place-content: center;

        &  , &::after{
            height: 100%;
            width: calc(100% - 160px);

            @media only screen and (max-width:1024px) {
                width: calc(100% - 70px);
            
            }
    
            @media only screen and (max-width:923px) {
                width: 100%;
            }
               
        }

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
        }

        &-inner{
            width: 500px;
            min-width: 320px;
            height: 400px;
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5px;

            >div{
                display: flex;
                flex-wrap: wrap;
                place-content: center;
                background: $white;
                border-radius: 5px;
                cursor: pointer;


                @include structureBlock("&.red" , $primaryRed);
                @include structureBlock("&.purple" , $primaryPurple);
                @include structureBlock("&.orange" , $primaryOrange);
                @include structureBlock("&.green" , $primaryGreen);

                @include structureBlock("&.from-selected" , $primaryBlue);
                @include structureBlock("&.to-selected" , $primaryBlue);

                &.move-here{
                    position: relative;
                    &::after{
                        content: "Move panel to this slot";
                        position: absolute;
                        font-size: 10px;
                        bottom: 15px;
                        opacity: 0.3;
                    }
                    background:$gray;
                }

                >div{
                    gap:10px;
                    color: $white;
                    text-transform: uppercase;
                    font-size: 12px;
                    pointer-events: none;
                }

                svg{
                    g{
                        stroke: $white;
                    }
                }

                @media only screen and (max-width: 1127px){
                    &{
                        grid-column: auto / span 3 !important;
                    }
                }
            }
        }
    }
}