.search{
    position: relative;
    left: 4px;

    &.filtered{
        .filter{
            g{
                stroke:$primaryBlue;
            }
        }
    }

    &-dropdown{
        &.filter-panel{
            .search-results{
                display: none;
            }   
        }

        &:not(.filter-panel){
            .filter-selection-group{
                display: none;
            }   
        }
    }

    

    &:not(.search-dropdown-panel){
       .search-dropdown{
        display: none;
       }
    }

    .filter-selection-group{
        >div{
        gap:10px;
            .filter-check{
                gap:5px;
                cursor: pointer;
                
                >div{
                    position: relative;
                    width: 10px;
                    height:10px;
                    border-radius:2px;
                }

                p{
                    text-transform: uppercase;
                    font-size: 12px;
                }

                svg{
                    display: none;
                }

                &.checked{
                    .check-mark{
                        display: block;
                        position: absolute;
                        width: 6px;
                        margin: auto;
                        inset: 0;
                        line-height: 0.9;

                        polyline{
                            stroke-width: 2px;
                        }
                    }
                }
            }


            @include semiTransparentColouredBorderBox('.filter-check > div.red' , $primaryRed);
            @include semiTransparentColouredBorderBox('.filter-check > div.green' , $primaryGreen);
            @include semiTransparentColouredBorderBox('.filter-check > div.orange' , $primaryOrange);
        }
    }


    &-container{
        position: relative;
        background: #F2F2F2;
        border-radius: 20px;
        width: fit-content;
        height: 35px;
        min-width: 270px;
        gap:10px;
        padding: 0px 25px;

        >div{
            gap:10px;
        }
    }

    svg{
        cursor: pointer;
    }

    .filtered{
        height: fit-content;

        p{
            border-bottom: solid 0.5px rgba($gray , 0.2);
            margin-bottom: 15px;
            padding-bottom: 5px;
            color: $gray;
            font-size: 13px;
        }

        >div{
            gap:5px;
        }

        .filter-item{
            @include tag;
            @include filteredTag('&.green' , $primaryGreen);
            @include filteredTag('&.red' , $primaryRed);
            @include filteredTag('&.orange' , $primaryOrange);
            height: 15px;
            color: $white;
        }

        svg{
            line{
                stroke: $white;
                stroke-width: 2px;
            }
        }
    }


    .no-results{
        padding-bottom: 10px;
        .search-input{
            color: $primaryRed;
            font-weight: 600;
        }
    }
}

// when search on mobile clicked
.mobile-search{
    .search{
        position: absolute;
        top:50px;
        width:  calc(100%  - 40px);
        max-width: 450px;
        left: 0;
        right: 0;
        margin: 0px auto;

        &-container{
            min-width:calc(100% - 40px);
        }

        .filtered{
            padding-bottom: 20px;
        }

        .search-dropdown{
            box-shadow: none !important;
            margin-top: 20px;
            padding: 0px 20px;
        }
    }
}

// only have dropdown on top bar
.top-bar{
    .search-dropdown{
        position: absolute;
        left: -10px;
        top: -10px;
        width: calc(100% + 20px);
        background: $white;
        border-radius: 15px;
        padding-top: 65px;
        height: fit-content;
        z-index: -1;
        box-shadow: 8px 10px 15px rgba($gray , 0.2);

        .filtered{
            padding: 0px 20px 20px;
        }

        &-inner{
            position:relative;
            max-height: 300px;
            width: calc(100% - 40px);
            padding: 0px 20px 10px;
            overflow-y: scroll;

            &-group{
                padding-bottom: 15px;
            }

            .grayed{
                position: relative;
            }

            .grayed::after{
                content: '';
                position: absolute;
                height: 100%;
                width: calc(100% + 20px);
                top:0;
                left: -10px;
                border-radius: 10px;
                background: rgba($gray , 0.1);
                z-index: -1;
            }

            &::-webkit-scrollbar {
                display: none;
            }
            
            & {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        }
    }
}