.books-page-container{
    margin: 20px;

    >div{
        max-width: 946px;
        margin: auto;
    }

    .books-container{
        gap:10px;
    }

    .section-title{
        padding: 20px 0px;
    }
}


.book-page-card{
    width:100%;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    transition: background 0.1s ease-out;

    &:hover{
        background: rgba($gray , 0.1) !important;
    }

    .more{
        margin-right:20px;
    }

    &-inner{
        height: 100%;
        gap: 20px;
    }

    @include solidBackground("&.red .book-page-card-category-indicator" , $primaryRed);
    @include solidBackground("&.green .book-page-card-category-indicator" , $primaryGreen);
    @include solidBackground("&.purple .book-page-card-category-indicator" , $primaryPurple);

    @include transparentBackground("&.red .image > div" , $primaryRed , 0.5);
    @include transparentBackground("&.green .image > div" , $primaryGreen , 0.5);
    @include transparentBackground("&.purple .image > div" , $primaryPurple , 0.5);

   &-category-indicator{
        width: 5px;
        height: 100%;
   }

   &-contents-container{
    height: 60px;

    &, .details-container{
        gap: 20px;
    }

    .details-container{
        height: 100%;

        .book-title{
            font-size: 13px;
            font-weight: 600;
        }

        .author-tag , .author-name{
            font-size: 12px;
            font-weight: 500;
        }
    }

    .details{
        justify-content: space-between;
        height: 80%;

        .book-rating{
            gap:5px;
        }
    }

    .image{
        width: 70px;
        height: 100%;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
        background-image:url("https://images.unsplash.com/photo-1685475860105-80a4ea08804a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");

        >div{
            border-radius: inherit;
            display: flex;
            height: 100%;
            place-content: center;
            flex-wrap: wrap;
            font-weight: 600;
        }
    }
   }

   .book-page-card-contents-progress{
        border-left: solid 1px rgba($gray , 0.1);
        // padding-left: 15px;
   }
}