.book-progress{
    // height: 50px;
    width: 100%;

    &:hover{
        background: rgba($gray , 0.1);
    }
    
    &-inner{
        gap:10px;
        padding: 10px 5px;
        width: calc(100% - 15px);
    }

    &-image{
        height: 50px;
        width: 50px;
        background-image: url('https://images.unsplash.com/photo-1682685796063-d2604827f7b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
        background-size: cover;
        border-radius: 5px;
    }

    &-details{
        width: calc(100% - 50px);

        h4{
            width: 100px;
            text-transform:  uppercase;
            margin-bottom: 5px;
        }

        .book-progress-bar{
            background: rgba($gray , 0.1);
            height: 10px;
            width: 100px;
            border-radius: 1px;
            position: relative;
            margin-top: 10px;

            div{
                position: absolute;
                background: $primaryRed;
                top: 0px;
                width: 50%;
                left: 0;
                height: 100%;
            }
        }
    }
}