.dark-mode{
    .main{
        background: $black;
    }

    .side-bar{
        background: $blackLight;

        &-mode{
            background: $black;

            .selected{
                background: $blackLight;
                border-radius: 100%;
            }
        }
    }

    .top-bar{
        background: $blackLight;
        border-left: solid 1px $black;
        
        &-inner{
            &-account{
                p{
                    color: $white;
                }
            }
        }
    }

    .search{
        input{
            color: $white;
        }

        &-box-container{
            background: $black;
        }

        &-dropdown{
            background: $blackLight;
            box-shadow: 8px 10px 15px rgba($black , 0.9);
            color: $white;

            h4{
                color: $white;
            }

            svg{
                g{
                    stroke: $white;
                }
            }

        }
    }

    .grid-item{
        background: $blackLight;
        color: $white;

        h4{
            color: $white;
        }

        svg{
            g{
                stroke:$white;
            }
        }

        .choose-block-width{
            background:$blackLight;
        }
    }

    .book-graph-container{
        .bar-data-popup{
            background: $black;
        }
        .graph-y-axis{
            span{
                border-bottom: solid 1px rgba($gray, 0.1);
            }
        }
    }


    .bookList{
        .filter-item{
            color: $white;
        }
    }


    .book-card{
        p{
            color: rgba($white , 0.4);
        }
    }

    .side-bar-mobile-nav-user-details{
        color: white;
    }
}