.light-mode{

    .main{
        background: $grayLight;
    }

    .side-bar{
        background: $white;

        &-list{
            li{
                color: $gray;
            }
        }

        &-mode{
            background: $grayLight;

            .selected{
                background: $white;
                border-radius: 100%;
            }
        }
    }
    
}