.light-mode{

    .main{
        background: $grayLight;
    }

    .side-bar{
        background: $white;

        &-list{
            li{
                color: $gray;
            }
        }

        &-mode{
            background: $grayLight;

            .selected{
                background: $white;
                border-radius: 100%;
            }
        }
    }

    .grid-item{
        background: $white;

        .choose-block-width{
            background: $white;
        }

        .close{            
            line{
                stroke: $gray;
            }
        }
    }

    .graph-popup{
        background: $white;
        color: $black;
    }
 

    .graph-y-axis{
        span{
            border-bottom: solid 1px rgba($gray, 0.1);
        }
    }

    .top-bar{
        background: $white;
        border-left: solid 1px $grayLight;
        
        &-inner{
            &-account{
                p{
                    color: $black;
                }
            }
        }
    }

    .search{
        &-box-container{
            background: $grayLight;
        }

        &-dropdown{
            background: $white;
            box-shadow: 8px 10px 15px rgba($gray , 0.2);
            color: $black;

            h4{
                color: $black;
            }

            svg{
                g{
                    stroke: $gray;
                }
            }
        }
    }

    .book-card{
        p{
            color: rgba($black , 0.4);
        }
    }

    .bookList{
        .filter-item{
            color: $black;
        }
    }

    .side-bar-mobile-nav-user-details{
        color: $black;
    }

    .book-page-card{
        background: $white;
        color: $black;

        .book-page-card-category-indicator{
            color: $white;
        }
    }

    .section-title{
        color: $black;
    }

    .modal-backdrop{
        background: rgba($grayLight , 0.4);
    }

    .modal-container{
        background: $white;
        box-shadow: 0px 0px 20px $grayLight;

        .close{
            line{
                stroke:$black;
            }
        }
    }

    .edit-book{
        p{
            color: $black;
        }
    }

    .input-block-container{
        background: $grayLight;
        color: $black;
    }

    .filter-books{
        color: $black;

        .filter-item:not(.checked){
            border:solid 0.5px $black;
            color: $black;
        }

    
        .choose-filter{
            color: rgba($black , 0.5);
            border-bottom: solid 1px rgba($black , 0.1);
        }

        .filter-books-group-title{
            color: $gray;
        }

        .select-categories-container{
            .category{
                &.checked{
                    background: $white;
                }
                // box-shadow: 0px 0px 20px rgba($gray , 0.1);
            }
        }
    }

    .edit-book-analytics-title{
        background: $white;
    }

    .add_log{
        background: $white;
        box-shadow: 0px 0px 10px $grayLight;

        .weekdays{
            background: $grayLight;
        }
    }

    .logged-entry{
        background: $grayLight;
        &-content{
            color: $black;
        }
    }
}