.search{
    position: relative;
    left: 4px;



    &-dropdown{
        &-panel{
            .search-box-container{
                border: solid 1px $primaryBlue;
    
                .search-icon{
                    g{
                        stroke: $primaryBlue;
                    }
                }
            }
        }

        .section-title{
            margin: 10px 0px;
        }

        .section-list{
            >div{
                @include cardVerticalSpacing('&' , 10px);
            }
        }

        &-inner{
            gap:10px;
        }
    }

    // show/hide search dropdown panel
    &:not(.search-dropdown-panel){
        .search-dropdown{
         display: none;
        }
    }
 

    &-box-container{
        position: relative;
        background: #F2F2F2;
        border-radius: 20px;
        width: fit-content;
        height: 35px;
        min-width: 270px;
        gap:10px;
        padding: 0px 25px;

        >div{
            gap:10px;
        }
    }

    .filtered{
        height: fit-content;

        p{
            border-bottom: solid 0.5px rgba($gray , 0.2);
            margin-bottom: 15px;
            padding-bottom: 5px;
            color: $gray;
        }

        >div{
            gap:5px;
        }
    }

    .filter-active{
        g{
            stroke:$primaryBlue;
        }
    }

    .no-results{
        padding-bottom: 10px;
        .search-input{
            color: $primaryRed;
            font-weight: 600;
        }
    }
}


.mobile-nav{
    
    &:not(.mobile-search){
        .search{
            display: none;
        }
    }

    &.mobile-search{
        // hide all side bar nav items
        .side-bar-logo ,
        .side-bar-mobile-nav-user-details,
        .side-bar-content{
            display: none;
        }

        .side-bar{
            overflow-y: hidden;

            .search{
                height: 100%;
                position: absolute;
                top:50px;
                width:  calc(100%  - 40px);
                max-width: 450px;
                left: 0;
                right: 0;
                margin: 0px auto;
    
                &-box-container{
                    min-width:calc(100% - 40px);
    
                    .search-icon{
                        display: none;
                    }
                }
    
                .filtered{
                    padding-bottom: 20px;
                }
    
                .search-dropdown{
                    box-shadow: none !important;
                    margin-top: 20px;
                    padding: 0px 20px;
                    overflow-y: scroll;
                    height: calc(100% - 117px);

                    &-inner{
                        padding-bottom: 20px;
                    }

                    @include hideScroll('&')
                }
            }
        }
    }
}

// only have dropdown on top bar
.top-bar{
    .search-dropdown{
        position: absolute;
        left: -10px;
        top: -10px;
        width: calc(100% + 20px);
        background: $white;
        border-radius: 15px;
        padding-top: 65px;
        height: fit-content;
        z-index: -1;
        box-shadow: 8px 10px 15px rgba($gray , 0.2);

        .filtered{
            padding: 0px 20px 20px;
        }

        &-inner{
            position:relative;
            max-height: 300px;
            width: calc(100% - 40px);
            padding: 0px 20px 10px;
            overflow-y: scroll;

            .grayed{
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: calc(100% + 20px);
                    top:0;
                    left: -10px;
                    border-radius: 10px;
                    background: rgba($gray , 0.1);
                    z-index: -1;
                }
            }

            @include hideScroll('&')
        }
    }
}

.search-dropdown{
    .book{
        &-card{
            display: flex;
            width: 100%;
            gap:10px;
            height: 56px;
    
            &-details{
                >div{
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        
            &-image{
                height: 50px;
                width: 50px;
            }
    
            .book-author{
                display: block;
            }
    
            .book-description{
                display: none;
            }
        }
    }
}


// hide search bar in nav on tablet and desktop
@media only screen and (min-width: 924px){
    .side-bar{
        .search{
            display: none;
        }
    }
}