.top-bar{
    background: $white;
    height: 44px;
    width: calc(100% - 163px);
    right: 0;
    justify-content: space-between;
    position: fixed;
    padding: 16px 0px;

    .container{
        justify-content: space-between;
    }

    &-search-container{
        position: relative;
        background: #F2F2F2;
        border-radius: 20px;
        width: fit-content;
        height: 35px;
        min-width: 270px;
        display: flex;
        align-items: center;
        gap:10px;
        padding: 0px 20px;
        
        input{
            border:none;
            background: inherit;
            width: 160px;

            &::placeholder{
                font-size: 12px;
            }

            &:focus{
                outline: none;
            }
        }

        .filtered{
            height: fit-content;
            display: flex;
            gap:5px;

            .filter-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size:13px;
                background:$primaryRed;
                color: $white;
                border-radius: 20px;
                padding: 5px;

                svg{
                    width: 15px;
                    line{
                        stroke: $white;
                        stroke-width: 2px;
                    }
                }
            }
        }

        svg{
            width: 20px;
            height: fit-content;
            cursor: pointer;
        }
    }

    & , &-account , .icons{
        align-items: center;
    }


    &-account{
        gap:20px;

        p{
            font-size: 14px;
            gap:4px;
    
            svg{
                g{
                    stroke: $primaryRed;
                }
            }
        }

        .icons{
            gap:13px;
            >div{
                width: 25px;
            }

            .user{
                background: red;
                height: 25px;
                border-radius: 100%;
                background-image:url('https://plus.unsplash.com/premium_photo-1677151193419-9be7a26c02cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1180&q=80');
                background-size: cover;
            }
        }

        svg{
            width: 25px;
        }

    }
}

