.top-bar{
    background: $white;
    height: 44px;
    width: calc(100% - 163px);
    right: 0;
    justify-content: space-between;
    position: fixed;
    padding: 16px 0px;

    .container{
        justify-content: space-between;
    }

    &-search{
        background: $grayLight;
        border: none;
        border-radius: 15px;
        height: 35px;
        position: relative;
    
        .top-bar-search-container{
            height: 100%;
            min-width: 350px;
            display: flex;
        }

        // .filtered{
        //     position: absolute;
        //     right: 20px;
        //     height: 100%;
        //     display: flex;
        //     align-items: center;
        // }
    
        input{
            &.search{
                height: 100%;
                padding-left: 40px;
                width: calc(100% - 180px);
                position: absolute;
                background: inherit;
                border: inherit;
                border-radius: inherit;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto 0px;
    
                &:focus{
                    outline: none;
                }
            }
    
            &::placeholder{
                font-size: 11px;
                opacity: 0.8;
            }
        }
    
    
        .icon{
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            height: inherit;

            &.search{
                left: 18px;
            }

            &.filter{
                right: 18px;
            }
        }

    
        svg{
            width: 16px !important;
            height: fit-content;
        }
    }

    & , &-account , .icons{
        align-items: center;
    }


    &-account{
        gap:20px;

        p{
            font-size: 14px;
            gap:4px;
    
            svg{
                g{
                    stroke: $primaryRed;
                }
            }
        }

        .icons{
            gap:13px;
            >div{
                width: 25px;
            }

            .user{
                background: red;
                height: 25px;
                border-radius: 100%;
                background-image:url('https://plus.unsplash.com/premium_photo-1677151193419-9be7a26c02cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1180&q=80');
                background-size: cover;
            }
        }

    }

    svg{
        width: 25px;
    }
}

