/* 
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.red-button {
  background: #FF4C4C;
  border-radius: 5px;
  position: relative;
  color: #FFFFFF;
}
.red-button * {
  color: #FFFFFF !important;
}
.red-button svg g {
  stroke: #FFFFFF;
}

button {
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

li {
  font-size: 11px;
}

.graph, .filter-item, .tag {
  font-size: 10px;
}

.search h3 {
  font-size: 13px;
}
.search h4, .search .filter-check {
  font-size: 12px;
}

input {
  border: none;
  background: inherit;
  width: 160px;
}
input:focus {
  outline: none;
}

.input-block-container {
  border-radius: 5px;
  min-height: 30px;
  position: relative;
  padding: 10px;
}
.input-block-container label {
  font-size: 10px;
}
.input-block-container textarea {
  background: inherit;
  max-width: calc(100% - 10px);
  border: 0;
  color: inherit;
  min-height: inherit;
}
.input-block-container textarea::-webkit-scrollbar {
  display: none;
}
.input-block-container textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.input-block-container textarea:focus {
  outline: none;
}
.input-block-container input {
  position: absolute;
  width: calc(100% - 20px);
  bottom: 8px;
  padding-left: 0;
  color: inherit;
}

.grid-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 307.6px);
  grid-template-rows: repeat(2, minmax(270px, auto));
  justify-content: center;
  margin: 20px;
  left: 0;
  right: 0;
  height: fit-content;
}
.grid-container .close {
  width: 20px;
}
.grid-container .close:hover line {
  stroke: #FF4C4C !important;
}
.grid-container .grid-item {
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 20px;
  min-height: 200px;
  max-height: 250px;
  position: relative;
}
.grid-container .grid-item:not(.book-graph-container) .grid-item-content {
  overflow-y: scroll;
}
.grid-container .grid-item .grid-item-content {
  height: calc(100% - 50px);
  width: 100%;
  flex-wrap: wrap;
}
.grid-container .grid-item .grid-item-content .book-progress:not(:last-child), .grid-container .grid-item .grid-item-content .book-list:not(:last-child) {
  margin-bottom: 15px;
}
.grid-container .grid-item .grid-item-content::-webkit-scrollbar {
  display: none;
}
.grid-container .grid-item .grid-item-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.grid-container .habit-tracker-container .grid-item-content {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.grid-container .habit-tracker-container .grid-item-content .habit-blocks {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background: rgba(178, 174, 174, 0.2);
  border: solid 1px #B2AEAE;
}
.grid-container .habit-tracker-container .grid-item-content .habit-blocks.not-trackable {
  opacity: 0.2;
}
.grid-container .habit-tracker-container .grid-item-content .habit-blocks.missed-day {
  background: #FFFFFF;
}
.grid-container .habit-tracker-container .grid-item-content .habit-blocks.tracked {
  background: #FF4C4C;
}
@media only screen and (max-width: 1127px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-container .grid-item {
    grid-column: auto/span 3 !important;
  }
}

.restructure-backdrop, .restructure-backdrop::after {
  height: calc(100% - 76px);
}
.restructure-backdrop .restructure-options {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
}
.restructure-backdrop .restructure-options > div {
  width: 50%;
  font-size: 11px;
  color: #FFFFFF;
}
.restructure-backdrop::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
}
.restructure-backdrop-inner {
  min-width: 280px;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.restructure-backdrop-inner-content {
  height: calc(100% - 30px);
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  place-content: center;
}
.restructure-backdrop-inner .restructure-block-color {
  place-content: center;
  background: #FFFFFF;
  border-radius: 5px;
  height: 120px;
}
.restructure-backdrop-inner .restructure-block-color .restructure-board-widths .current-width {
  border: solid 1px #FFFFFF;
  background: inherit;
}
.restructure-backdrop-inner .restructure-block-color .restructure-board-widths .close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
}
.restructure-backdrop-inner .restructure-block-color .restructure-board-widths .close line {
  stroke: #FFFFFF;
  stroke-width: 3px;
}
.restructure-backdrop-inner .restructure-block-color.red {
  background: rgba(255, 76, 76, 0.9);
}
.restructure-backdrop-inner .restructure-block-color.purple {
  background: rgba(164, 49, 249, 0.9);
}
.restructure-backdrop-inner .restructure-block-color.orange {
  background: rgba(249, 87, 49, 0.9);
}
.restructure-backdrop-inner .restructure-block-color.green {
  background: rgba(0, 218, 50, 0.9);
}
.restructure-backdrop-inner .restructure-block-color.from-selected {
  background: rgba(53, 158, 255, 0.9);
}
.restructure-backdrop-inner .restructure-block-color.move-here {
  background: rgba(178, 174, 174, 0.9);
}
.restructure-backdrop-inner .restructure-block-color.to-selected {
  background: rgba(53, 158, 255, 0.9);
}
.restructure-backdrop-inner .restructure-block-color [data-options=order] {
  border-bottom-left-radius: 5px;
  border-top: solid 0.5px rgba(255, 255, 255, 0.3);
}
.restructure-backdrop-inner .restructure-block-color [data-options=order]::after {
  content: "Order";
}
@media only screen and (max-width: 1127px) {
  .restructure-backdrop-inner .restructure-block-color [data-options=order] {
    width: 100%;
  }
}
.restructure-backdrop-inner .restructure-block-color [data-options=width] {
  background: rgba(255, 255, 255, 0.3);
  border-bottom-right-radius: 5px;
}
.restructure-backdrop-inner .restructure-block-color [data-options=width]::after {
  content: "Width";
}
@media only screen and (max-width: 1127px) {
  .restructure-backdrop-inner .restructure-block-color [data-options=width] {
    display: none;
  }
}
.restructure-backdrop-inner .restructure-block-color.from-selected [data-options=order] {
  background: #FFFFFF;
  color: #359EFF;
}
.restructure-backdrop-inner .restructure-block-color.from-selected [data-options=order]::after {
  content: "From";
}
.restructure-backdrop-inner .restructure-block-color.move-here [data-options=order] {
  background: #FFFFFF;
  color: #B2AEAE;
}
.restructure-backdrop-inner .restructure-block-color.move-here [data-options=order]::after {
  content: "To";
}
.restructure-backdrop-inner .restructure-block-color .restructure-backdrop-inner-content {
  gap: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 11px;
  pointer-events: none;
}
.restructure-backdrop-inner .restructure-block-color svg {
  width: 25px;
}
.restructure-backdrop-inner .restructure-block-color svg g {
  stroke: #FFFFFF;
}
@media only screen and (max-width: 1127px) {
  .restructure-backdrop-inner .restructure-block-color {
    grid-column: auto/span 3 !important;
  }
}

.restructure-board-widths {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  border-radius: inherit;
  background: inherit;
}
.restructure-board-widths .restructure-board-widths-inner {
  width: 80%;
  border-radius: inherit;
  display: grid;
  height: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.restructure-board-widths .restructure-board-widths-inner > div {
  border-radius: inherit;
  position: relative;
  padding: 0px 20px;
  background: rgba(255, 255, 255, 0.3);
}
.restructure-board-widths .restructure-board-widths-inner > div::after {
  position: absolute;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 10px;
  color: #FFFFFF;
}
.restructure-board-widths .restructure-board-widths-inner [data-width="3"] {
  grid-column: 1/4;
}
.restructure-board-widths .restructure-board-widths-inner [data-width="3"]::after {
  content: "100%";
}
.restructure-board-widths .restructure-board-widths-inner [data-width="2"] {
  grid-column: 1/3;
}
.restructure-board-widths .restructure-board-widths-inner [data-width="2"]::after {
  content: "70%";
}
.restructure-board-widths .restructure-board-widths-inner [data-width="1"] {
  grid-column: 1/2;
}
.restructure-board-widths .restructure-board-widths-inner [data-width="1"]::after {
  content: "30%";
}

.restructure-block-color {
  position: relative;
}
.restructure-block-color .choose-block-width {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  border-radius: inherit;
  background: inherit;
}
.restructure-block-color .choose-block-width .choose-block-width-inner {
  width: 80%;
  border-radius: inherit;
  display: grid;
  height: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.restructure-block-color .choose-block-width .choose-block-width-inner > div {
  border-radius: inherit;
  position: relative;
  padding: 0px 20px;
  background: rgba(255, 255, 255, 0.3);
}
.restructure-block-color .choose-block-width .choose-block-width-inner > div::after {
  position: absolute;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 10px;
  color: #FFFFFF;
}
.restructure-block-color .choose-block-width .choose-block-width-inner [data-width="3"] {
  grid-column: 1/4;
}
.restructure-block-color .choose-block-width .choose-block-width-inner [data-width="3"]::after {
  content: "100%";
}
.restructure-block-color .choose-block-width .choose-block-width-inner [data-width="2"] {
  grid-column: 1/3;
}
.restructure-block-color .choose-block-width .choose-block-width-inner [data-width="2"]::after {
  content: "70%";
}
.restructure-block-color .choose-block-width .choose-block-width-inner [data-width="1"] {
  grid-column: 1/2;
}
.restructure-block-color .choose-block-width .choose-block-width-inner [data-width="1"]::after {
  content: "30%";
}

.modal-backdrop {
  position: absolute;
  top: 1;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal-container {
  height: fit-content;
  max-width: 400px;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 2;
  border-radius: 5px;
  padding: 10px 20px;
  overflow-y: scroll;
}
.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media only screen and (max-width: 924px) {
  .modal-container {
    position: fixed;
    top: 0;
    max-width: 100%;
    height: 100%;
    left: 0;
  }
}
.modal-container-inner {
  height: 100%;
}
.modal-container-content form {
  gap: 10px;
  margin-bottom: 10px;
}
.modal-container .section-title .close {
  width: 25px;
  display: block;
}
.modal-container .red-button {
  height: 40px;
}
.modal-container .red-button .arrow-icon {
  position: absolute;
  top: 0;
  right: 10px;
  width: 20px;
  height: inherit;
}

.filter-books {
  gap: 20px;
  color: #FFFFFF;
}
.filter-books .choose-filter {
  padding: 0px 0px 10px;
  font-size: 14px;
  color: rgba(17, 19, 21, 0.5);
  border-bottom: solid 1px rgba(17, 19, 21, 0.2);
  margin-bottom: 5px;
}
.filter-books .progress-number-line {
  width: 95%;
  height: 10px;
  margin: 0px auto;
  padding-top: 10px;
  border-top: 0.5px solid rgba(178, 174, 174, 0.2);
  color: #B2AEAE;
}
.filter-books .progress-number-line > div {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 13px;
}
.filter-books .progress-number-line > div::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 0.5px;
  display: block;
  top: -10px;
  background: rgba(178, 174, 174, 0.2);
}
.filter-books .progress-number-line > div:first-child, .filter-books .progress-number-line > div:last-child {
  position: relative;
}
.filter-books .progress-number-line > div:first-child {
  left: -9px;
}
.filter-books .progress-number-line > div:last-child {
  right: -16px;
}
.filter-books .filter-books-group {
  gap: 20px;
  padding: 10px 0px;
}
.filter-books .filter-books-group.authors .filter-books-group-inner {
  gap: 10px;
  flex-wrap: wrap;
}
.filter-books .filter-books-group.authors .filter-books-group-inner .filter-item {
  white-space: nowrap;
  gap: 10px;
  padding: 5px 10px;
}
.filter-books .filter-books-group.authors .filter-books-group-inner .filter-item.checked {
  color: #FFFFFF;
}
.filter-books .filter-books-group.authors .filter-books-group-inner .filter-item svg {
  width: 10px;
}
.filter-books .filter-books-group.authors .filter-books-group-inner .filter-item svg polyline {
  stroke: #FFFFFF;
  stroke-width: 1.5px;
}
.filter-books .filter-books-group.authors .filter-books-group-inner .filter-item:not(.checked) {
  background: transparent;
}
.filter-books .filter-books-group.authors .filter-books-group-inner .filter-item:not(.checked) svg {
  display: none;
}
.filter-books .filter-books-group .filter-books-group-title {
  font-size: 14px;
  font-weight: 600;
}
.filter-books .filter-books-group .percentage-bar-container {
  width: 100%;
  height: 10px;
  background: rgba(178, 174, 174, 0.1);
  border-radius: 5px;
  position: relative;
}
.filter-books .filter-books-group .percentage-bar-container .progress-bar {
  border-radius: inherit;
}
.filter-books .filter-books-group .percentage-bar-container .progress-bar .slider-bar {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(255, 76, 76, 0.5);
  border-radius: inherit;
}
.filter-books .filter-books-group .percentage-bar-container .progress-bar .slider-bar[style="width: 0%;"] .slider-button {
  left: 0;
}
.filter-books .filter-books-group .percentage-bar-container .progress-bar .slider-bar .slider-button {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #FF4C4C;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0px;
}
.filter-books .filter-books-group .star-icon.gray path {
  fill: #B2AEAE;
  stroke: #B2AEAE;
}
.filter-books .clear-filter-item {
  font-size: 12px;
  font-weight: 500;
}

.edit-book-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.edit-book-contents h4 {
  color: #B2AEAE;
}
.edit-book-contents p {
  line-height: 1.2;
}
.edit-book-contents .heading {
  padding-bottom: 5px;
  align-items: center;
}
.edit-book-contents .heading span {
  display: none;
  font-size: 12px;
  color: #FF4C4C;
}
.edit-book-contents .heading:hover span {
  display: block;
}
.edit-book-contents-description {
  grid-column: 2/3;
  grid-row: 1/3;
}
.edit-book-analytics {
  position: relative;
  height: 200px;
  margin-top: 30px;
}
.edit-book-analytics::after {
  border-radius: 5px;
  position: absolute;
  content: "";
  height: 100%;
  width: calc(100% + 20px);
  background: rgba(178, 174, 174, 0.1);
  top: -15px;
  left: -10px;
  z-index: -1;
}
.edit-book-analytics-chart {
  height: 150px;
}
.edit-book-analytics-chart .line-chart {
  height: 100%;
}

.flex {
  display: flex;
}

.p-static {
  position: static !important;
}

.justify-sb {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.v-h-center {
  place-content: center;
  flex-wrap: wrap;
}

.v-center {
  align-items: center;
}

.h-center {
  justify-content: center;
}

.opacity {
  opacity: 0.5;
}

strong {
  font-weight: 500;
}

.hidden {
  display: none;
}

.margin-l-r-20 {
  margin: 0 20px;
}

.padding-l-r-20 {
  padding: 0 20px;
}

.book-card-container {
  gap: 10px;
}
.book-card-container .grid-item-content {
  display: flex;
  gap: 10px;
}
.book-card {
  height: 196px;
}
@media only screen and (min-width: 1128px) {
  .book-card {
    width: calc((100% - 10px) / 2);
  }
}
@media only screen and (min-width: 651px) and (max-width: 1127px) {
  .book-card {
    width: calc((100% - 20px) / 3);
  }
}
@media only screen and (max-width: 650px) {
  .book-card {
    width: 100%;
  }
}
.book-card-image {
  height: 103px;
  width: 100%;
  border-radius: 5px;
  background-image: url("https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-position: center;
  margin-bottom: 18px;
}
.book-card-details-ratings {
  margin-bottom: 5px;
}
.book-card-details h4 {
  margin-bottom: 5px;
  text-transform: uppercase;
}
.book-card-details .book-author {
  display: none;
}

.book-list-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-image: url("https://images.unsplash.com/photo-1682685796063-d2604827f7b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
}
.book-list-details {
  width: calc(100% - 50px);
}
.book-list-details h4 {
  width: 100px;
  text-transform: uppercase;
}
.book-list-inner {
  width: calc(100% - 15px);
  gap: 10px;
}
.book-list .book-list-genres {
  gap: 5px;
  flex-wrap: wrap;
  width: 129px;
  margin-top: 10px;
}
.book-list .book-list-genres .filter-item {
  justify-content: space-between;
  border-radius: 20px;
  padding: 3px 10px;
  text-transform: uppercase;
}
.book-list .book-list-genres .filter-item.red-outline {
  background: rgba(255, 76, 76, 0.3);
  border: solid 1px #FF4C4C;
}
.book-list .book-list-genres .filter-item.red-outline svg polyline {
  stroke: #FF4C4C;
}
.book-list .book-list-genres .filter-item.green-outline {
  background: rgba(0, 218, 50, 0.3);
  border: solid 1px #00DA32;
}
.book-list .book-list-genres .filter-item.green-outline svg polyline {
  stroke: #00DA32;
}
.book-list .book-list-genres .filter-item.purple-outline {
  background: rgba(164, 49, 249, 0.3);
  border: solid 1px #A431F9;
}
.book-list .book-list-genres .filter-item.purple-outline svg polyline {
  stroke: #A431F9;
}
.book-list .book-list-genres .filter-item.orange-outline {
  background: rgba(249, 87, 49, 0.3);
  border: solid 1px #F95731;
}
.book-list .book-list-genres .filter-item.orange-outline svg polyline {
  stroke: #F95731;
}

.book-progress {
  height: 50px;
  width: 100%;
}
.book-progress-inner {
  gap: 10px;
  width: calc(100% - 15px);
}
.book-progress-image {
  height: 50px;
  width: 50px;
  background-image: url("https://images.unsplash.com/photo-1682685796063-d2604827f7b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  border-radius: 5px;
}
.book-progress-details {
  width: calc(100% - 50px);
}
.book-progress-details h4 {
  width: 100px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.book-progress-details .book-progress-bar {
  background: rgba(178, 174, 174, 0.1);
  height: 10px;
  width: 100px;
  border-radius: 1px;
  position: relative;
  margin-top: 10px;
}
.book-progress-details .book-progress-bar div {
  position: absolute;
  top: 0px;
  width: 50%;
  left: 0;
  height: 100%;
}

.books-page-container {
  margin: 20px;
}
.books-page-container > div {
  max-width: 946px;
  margin: auto;
}
.books-page-container .books-container {
  gap: 10px;
}
.books-page-container .section-title {
  padding: 20px 0px;
}

.book-page-card {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  transition: background 0.1s ease-out;
}
.book-page-card:hover {
  background: rgba(178, 174, 174, 0.1) !important;
}
.book-page-card .more {
  margin-right: 20px;
}
.book-page-card-inner {
  height: 100%;
  gap: 20px;
}
.book-page-card.red .book-page-card-category-indicator {
  background: #FF4C4C;
}
.book-page-card.green .book-page-card-category-indicator {
  background: #00DA32;
}
.book-page-card.purple .book-page-card-category-indicator {
  background: #A431F9;
}
.book-page-card.red .image > div {
  background: rgba(255, 76, 76, 0.5);
}
.book-page-card.green .image > div {
  background: rgba(0, 218, 50, 0.5);
}
.book-page-card.purple .image > div {
  background: rgba(164, 49, 249, 0.5);
}
.book-page-card-category-indicator {
  width: 5px;
  height: 100%;
}
.book-page-card-contents-container {
  height: 60px;
}
.book-page-card-contents-container, .book-page-card-contents-container .details-container {
  gap: 20px;
}
.book-page-card-contents-container .details-container {
  height: 100%;
}
.book-page-card-contents-container .details-container .book-title {
  font-size: 13px;
  font-weight: 600;
}
.book-page-card-contents-container .details-container .author-tag, .book-page-card-contents-container .details-container .author-name {
  font-size: 12px;
  font-weight: 500;
}
.book-page-card-contents-container .details {
  justify-content: space-between;
  height: 80%;
}
.book-page-card-contents-container .details .book-rating {
  gap: 5px;
}
.book-page-card-contents-container .image {
  width: 70px;
  height: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1685475860105-80a4ea08804a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
}
.book-page-card-contents-container .image > div {
  border-radius: inherit;
  display: flex;
  height: 100%;
  place-content: center;
  flex-wrap: wrap;
  color: #FFFFFF;
  font-weight: 600;
}
.book-page-card .book-page-card-contents-progress {
  border-left: solid 1px rgba(178, 174, 174, 0.1);
}

.line-chart {
  height: calc(100% - 25px);
  width: 100%;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.line-chart li .data-point {
  position: absolute;
  background-color: #FF4C4C;
  border: 2px solid #FF4C4C;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  width: 8px;
  z-index: 1;
}
.line-chart li .data-point:hover > div {
  display: block;
}
.line-chart li .data-point > div {
  display: none;
  white-space: nowrap;
  position: absolute;
  padding: 10px;
}
.line-chart li .line {
  position: absolute;
  background: #FF4C4C;
  transform-origin: left bottom;
  height: 3px;
}
.line-chart .line-chart-x-axis {
  height: 100%;
}

.book-graph-container .grid-item-content {
  z-index: 0;
}

.graph_bars-container,
.bar-container,
.graph,
.book-graph-container .grid-item-content {
  position: relative;
}

.bar-data-popup,
.bar-mask,
.bar,
.graph-x-axis,
.graph-y-axis {
  position: absolute;
}

.graph {
  height: calc(100% - 25px);
  width: 98%;
  left: 2%;
}
.graph .graph_bars-container {
  height: 100%;
  width: 100%;
  gap: 5px;
  z-index: 1;
}
.graph .graph_bars-container .bar-container:nth-child(5n+1) .bar {
  background: #00DA32 !important;
}
.graph .graph_bars-container .bar-container:nth-child(5n+2) .bar {
  background: #F95731 !important;
}
.graph .graph_bars-container .bar-container:nth-child(5n+3) .bar {
  background: #A431F9 !important;
}
.graph .graph_bars-container .bar-container:nth-child(5n+4) .bar {
  background: #FF4C4C !important;
}
.graph .graph_bars-container .bar-container:nth-child(5n+5) .bar {
  background: #359EFF !important;
}
.graph .graph_bars-container .bar-container {
  width: 14.2857142857%;
}
.graph .graph_bars-container .bar-container .bar-data-popup {
  display: none;
}
.graph .graph_bars-container .bar-container:first-child .bar-data-popup {
  left: 0;
}
.graph .graph_bars-container .bar-container .bar-data-popup {
  width: fit-content;
  padding: 10px;
  top: -70px;
  right: 0;
  z-index: 1;
}
.graph .graph_bars-container .bar-container .bar-data-popup ul li {
  white-space: nowrap;
  gap: 5px;
}
.graph .graph_bars-container .bar-container .bar-data-popup ul li:not(:last-child) {
  padding-bottom: 5px;
}
.graph .graph_bars-container .bar-container .bar-data-popup ul li > div {
  width: 5px;
  height: 5px;
  background: #FF4C4C;
  border-radius: 1px;
}
.graph .graph_bars-container .bar-container .bar-mask {
  bottom: 0;
  width: 100%;
  animation: increase 0.5s forwards;
}
@keyframes increase {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.graph .graph_bars-container .bar-container .bar {
  border-radius: 8px;
  width: 65%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
}
.graph .graph_bars-container .bar-container .bar:hover .bar-data-popup {
  display: block;
}
.graph .graph-x-axis, .graph .graph-y-axis {
  color: #B2AEAE;
  width: 100%;
  justify-content: space-between;
}
.graph .graph-x-axis {
  bottom: -20px;
}
.graph .graph-x-axis > span {
  width: 100%;
  display: flex;
  justify-content: center;
}
.graph .graph-y-axis {
  flex-direction: column;
  top: 0;
  height: 100%;
  z-index: 0;
  left: -2%;
}
.graph .graph-popup {
  border-radius: 5px;
}

.side-bar {
  position: fixed;
  width: 119px;
  height: 100vh;
  padding: 0px 20px;
  overflow-y: scroll;
}
.side-bar::-webkit-scrollbar {
  display: none;
}
.side-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.side-bar-logo {
  height: 76px;
}
.side-bar .side-bar-mobile-nav-user-details {
  display: none;
}
.side-bar-content {
  height: calc(100% - 116px);
  padding: 20px 0px;
  min-height: 300px;
  flex-direction: column;
  justify-content: space-between;
}
.side-bar-list a {
  text-decoration: none;
}
.side-bar-list li {
  border-radius: 6px;
  border: solid 1px rgba(178, 174, 174, 0.1);
  gap: 8.4px;
  padding: 5px;
  margin-bottom: 3px;
  height: 23px;
  width: 120px;
  font-weight: 600;
}
.side-bar-list li, .side-bar-list li svg {
  height: fit-content;
}
.side-bar-list li span {
  color: #B2AEAE;
}
@media only screen and (max-width: 1024px) {
  .side-bar-list li, .side-bar-list {
    width: fit-content;
  }
  .side-bar-list .list-name {
    display: none;
  }
}
.side-bar-mode-container .side-bar-mode {
  width: fit-content;
  padding: 0px 3px;
  height: 29px;
  border-radius: 20px;
}
.side-bar-mode-container .side-bar-mode > div {
  height: 25.14px;
  width: 25.14px;
}
@media only screen and (max-width: 1024px) {
  .side-bar-mode-container .side-bar-mode > div:not(.selected) {
    display: none;
  }
}
@media only screen and (min-width: 924px) and (max-width: 1024px) {
  .side-bar {
    width: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 923px) {
  .side-bar {
    display: none;
  }
  .top-bar .hamburger {
    display: block;
  }
  .top-bar .close {
    display: none;
  }
  .mobile-nav .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 100px);
    bottom: 0;
    z-index: 2;
    border-radius: 10px 10px 0px 0px;
  }
  .mobile-nav .side-bar-mobile-nav-user-details {
    display: flex;
    flex-direction: column;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar {
    height: 60px;
    width: 60px;
    background: red;
    border-radius: 100%;
    background-image: url("https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1443&q=80");
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 25px;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar .side-bar-avatar-designs {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar .side-bar-avatar-designs::after, .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar .side-bar-avatar-designs::before {
    position: absolute;
    content: "";
    border-radius: 100%;
    opacity: 0.3;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar .side-bar-avatar-designs::after {
    background: #FF4C4C;
    right: -28px;
    bottom: 30px;
    height: 10px;
    width: 10px;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar .side-bar-avatar-designs::before {
    background: #00DA32;
    top: -10px;
    left: -15px;
    width: 15px;
    height: 15px;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar::after, .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background: rgba(178, 174, 174, 0.1);
    border-radius: 100%;
    z-index: -1;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar::after {
    top: -8px;
    right: -8px;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-avatar::before {
    bottom: -8px;
    left: -8px;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-read-notice {
    gap: 5px;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-read-notice svg g {
    stroke: #FF4C4C;
    stroke-width: 3px;
  }
  .mobile-nav .side-bar-mobile-nav-user-details .side-bar-user {
    font-weight: 600;
  }
  .mobile-nav .side-bar .side-bar-content {
    width: 100%;
    max-width: 300px;
  }
  .mobile-nav .side-bar .side-bar-content .side-bar-mode > div:not(.selected) {
    display: flex;
  }
  .mobile-nav .side-bar .side-bar-content .side-bar-list {
    width: 100%;
  }
  .mobile-nav .side-bar .side-bar-content .side-bar-list li {
    width: 100%;
  }
  .mobile-nav .side-bar .side-bar-content .side-bar-list li .list-name {
    display: block;
    width: calc(100% - 63.4px);
    text-align: center;
  }
  .mobile-nav .hamburger {
    display: none;
  }
  .mobile-nav .close {
    display: block;
  }
}
.top-bar {
  height: 24px;
  width: calc(100% - 160px);
  right: 0;
  top: 0;
  position: fixed;
  padding: 16px 0px;
}
.top-bar .selected svg g, .top-bar .selected svg rect {
  stroke: #359EFF;
}
.top-bar-inner {
  width: 940px;
}
.top-bar-inner, .top-bar-inner-account, .top-bar-inner .icons {
  align-items: center;
}
.top-bar-inner-account {
  gap: 45px;
}
.top-bar-inner-account p {
  gap: 4px;
}
.top-bar-inner-account p svg g {
  stroke: #FF4C4C;
  stroke-width: 3px;
}
.top-bar-inner-account .icons {
  gap: 15px;
}
.top-bar-inner-account .icons > div {
  width: 25px;
}
.top-bar-inner-account .icons .hamburger-icon, .top-bar-inner-account .icons .search-icon {
  display: none;
}
.top-bar-inner-account .icons .user {
  background: red;
  height: 25px;
  border-radius: 100%;
  background-image: url("https://plus.unsplash.com/premium_photo-1677151193419-9be7a26c02cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1180&q=80");
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 923px) {
  .top-bar-inner-account, .top-bar-inner-account .icons {
    width: 100%;
  }
  .top-bar-inner-account .icons {
    justify-content: space-between;
  }
  .top-bar-inner-account .icons .hamburger-icon, .top-bar-inner-account .icons .search-icon {
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 923px) {
  .top-bar-inner .search {
    display: none;
  }
  .top-bar-inner-account p, .top-bar-inner-account .user {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .top-bar {
    width: calc(100% - 70px);
  }
}
@media only screen and (min-width: 320px) and (max-width: 923px) {
  .top-bar {
    width: 100%;
  }
}

.mobile-search .search-icon g {
  stroke: #359EFF;
}

.search {
  position: relative;
  left: 4px;
}
.search-dropdown.filter-panel .search-results {
  display: none;
}
.search-dropdown:not(.filter-panel) .filter-selection-group {
  display: none;
}
.search-dropdown-panel .search-box-container {
  border: solid 1px #359EFF;
}
.search-dropdown-panel .search-box-container .search-icon g {
  stroke: #359EFF;
}
.search-dropdown .section-title {
  margin: 10px 0px;
}
.search-dropdown .section-list > div:not(:last-child) {
  margin-bottom: 10px;
}
.search-dropdown-inner {
  gap: 10px;
}
.search:not(.search-dropdown-panel) .search-dropdown {
  display: none;
}
.search-box-container {
  position: relative;
  background: #F2F2F2;
  border-radius: 20px;
  width: fit-content;
  height: 35px;
  min-width: 270px;
  gap: 10px;
  padding: 0px 25px;
}
.search-box-container > div {
  gap: 10px;
}
.search .filtered {
  height: fit-content;
}
.search .filtered p {
  border-bottom: solid 0.5px rgba(178, 174, 174, 0.2);
  margin-bottom: 15px;
  padding-bottom: 5px;
  color: #B2AEAE;
}
.search .filtered > div {
  gap: 5px;
}
.search .filter-active g {
  stroke: #359EFF;
}
.search .no-results {
  padding-bottom: 10px;
}
.search .no-results .search-input {
  color: #FF4C4C;
  font-weight: 600;
}

.mobile-nav:not(.mobile-search) .search {
  display: none;
}
.mobile-nav.mobile-search .side-bar-logo,
.mobile-nav.mobile-search .side-bar-mobile-nav-user-details,
.mobile-nav.mobile-search .side-bar-content {
  display: none;
}
.mobile-nav.mobile-search .side-bar {
  overflow-y: hidden;
}
.mobile-nav.mobile-search .side-bar .search {
  height: 100%;
  position: absolute;
  top: 50px;
  width: calc(100% - 40px);
  max-width: 450px;
  left: 0;
  right: 0;
  margin: 0px auto;
}
.mobile-nav.mobile-search .side-bar .search-box-container {
  min-width: calc(100% - 40px);
}
.mobile-nav.mobile-search .side-bar .search-box-container .search-icon {
  display: none;
}
.mobile-nav.mobile-search .side-bar .search .filtered {
  padding-bottom: 20px;
}
.mobile-nav.mobile-search .side-bar .search .search-dropdown {
  box-shadow: none !important;
  margin-top: 20px;
  padding: 0px 20px;
  overflow-y: scroll;
  height: calc(100% - 117px);
}
.mobile-nav.mobile-search .side-bar .search .search-dropdown::-webkit-scrollbar {
  display: none;
}
.mobile-nav.mobile-search .side-bar .search .search-dropdown {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.top-bar .search-dropdown {
  position: absolute;
  left: -10px;
  top: -10px;
  width: calc(100% + 20px);
  background: #FFFFFF;
  border-radius: 15px;
  padding-top: 65px;
  height: fit-content;
  z-index: -1;
  box-shadow: 8px 10px 15px rgba(178, 174, 174, 0.2);
}
.top-bar .search-dropdown .filtered {
  padding: 0px 20px 20px;
}
.top-bar .search-dropdown-inner {
  position: relative;
  max-height: 300px;
  width: calc(100% - 40px);
  padding: 0px 20px 10px;
  overflow-y: scroll;
}
.top-bar .search-dropdown-inner-group {
  padding-bottom: 15px;
}
.top-bar .search-dropdown-inner .grayed {
  position: relative;
}
.top-bar .search-dropdown-inner .grayed::after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 20px);
  top: 0;
  left: -10px;
  border-radius: 10px;
  background: rgba(178, 174, 174, 0.1);
  z-index: -1;
}
.top-bar .search-dropdown-inner::-webkit-scrollbar {
  display: none;
}
.top-bar .search-dropdown-inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search-dropdown .book-card {
  display: flex;
  width: 100%;
  gap: 10px;
  height: 56px;
}
.search-dropdown .book-card-details > div {
  display: flex;
  flex-direction: column-reverse;
}
.search-dropdown .book-card-image {
  height: 50px;
  width: 50px;
}
.search-dropdown .book-card .book-author {
  display: block;
}
.search-dropdown .book-card .book-description {
  display: none;
}

@media only screen and (min-width: 924px) {
  .side-bar .search {
    display: none;
  }
}
.dark-mode .main {
  background: #111315;
}
.dark-mode .side-bar {
  background: #1A1D1F;
}
.dark-mode .side-bar-mode {
  background: #111315;
}
.dark-mode .side-bar-mode .selected {
  background: #1A1D1F;
  border-radius: 100%;
}
.dark-mode .top-bar {
  background: #1A1D1F;
  border-left: solid 1px #111315;
}
.dark-mode .top-bar-inner-account p {
  color: #FFFFFF;
}
.dark-mode .search input {
  color: #FFFFFF;
}
.dark-mode .search-box-container {
  background: #111315;
}
.dark-mode .search-dropdown {
  background: #1A1D1F;
  box-shadow: 8px 10px 15px rgba(17, 19, 21, 0.9);
  color: #FFFFFF;
}
.dark-mode .search-dropdown h4 {
  color: #FFFFFF;
}
.dark-mode .search-dropdown svg g {
  stroke: #FFFFFF;
}
.dark-mode .grid-item {
  background: #1A1D1F;
  color: #FFFFFF;
}
.dark-mode .grid-item h4 {
  color: #FFFFFF;
}
.dark-mode .grid-item svg g {
  stroke: #FFFFFF;
}
.dark-mode .grid-item .choose-block-width {
  background: #1A1D1F;
}
.dark-mode .grid-item .close line {
  stroke: #FFFFFF;
}
.dark-mode .graph-popup {
  background: #111315;
  color: #FFFFFF;
}
.dark-mode .graph-y-axis span {
  border-bottom: solid 1px rgba(178, 174, 174, 0.1);
}
.dark-mode .edit-book p {
  color: #FFFFFF;
}
.dark-mode .bookList .filter-item {
  color: #FFFFFF;
}
.dark-mode .book-card p {
  color: rgba(255, 255, 255, 0.4);
}
.dark-mode .side-bar-mobile-nav-user-details {
  color: white;
}
.dark-mode .book-page-card {
  background: #1A1D1F;
  color: #FFFFFF;
}
.dark-mode .section-title {
  color: #FFFFFF;
}
.dark-mode .modal-backdrop {
  background: rgba(26, 29, 31, 0.4);
}
.dark-mode .modal-container {
  background: #1A1D1F;
  box-shadow: 0px 0px 20px #111315;
}
.dark-mode .modal-container .close line {
  stroke: #FFFFFF;
}
.dark-mode .input-block-container {
  background: #111315;
  color: #FFFFFF;
}
.dark-mode .filter-books {
  color: #FFFFFF;
}
.dark-mode .filter-books .filter-item:not(.checked) {
  border: solid 0.5px #FFFFFF;
}
.dark-mode .filter-books .choose-filter {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.dark-mode .filter-books .filter-books-group-title {
  opacity: 0.8;
}
.dark-mode .filter-books .select-categories-container .category.checked {
  background: #111315;
}

.light-mode .main {
  background: #F2F2F2;
}
.light-mode .side-bar {
  background: #FFFFFF;
}
.light-mode .side-bar-list li {
  color: #B2AEAE;
}
.light-mode .side-bar-mode {
  background: #F2F2F2;
}
.light-mode .side-bar-mode .selected {
  background: #FFFFFF;
  border-radius: 100%;
}
.light-mode .grid-item {
  background: #FFFFFF;
}
.light-mode .grid-item .choose-block-width {
  background: #FFFFFF;
}
.light-mode .grid-item .close line {
  stroke: #B2AEAE;
}
.light-mode .graph-popup {
  background: #FFFFFF;
  color: #111315;
}
.light-mode .graph-y-axis span {
  border-bottom: solid 1px rgba(178, 174, 174, 0.1);
}
.light-mode .top-bar {
  background: #FFFFFF;
  border-left: solid 1px #F2F2F2;
}
.light-mode .top-bar-inner-account p {
  color: #111315;
}
.light-mode .search-box-container {
  background: #F2F2F2;
}
.light-mode .search-dropdown {
  background: #FFFFFF;
  box-shadow: 8px 10px 15px rgba(178, 174, 174, 0.2);
  color: #111315;
}
.light-mode .search-dropdown h4 {
  color: #111315;
}
.light-mode .search-dropdown svg g {
  stroke: #B2AEAE;
}
.light-mode .book-card p {
  color: rgba(17, 19, 21, 0.4);
}
.light-mode .bookList .filter-item {
  color: #111315;
}
.light-mode .side-bar-mobile-nav-user-details {
  color: #111315;
}
.light-mode .book-page-card {
  background: #FFFFFF;
  color: #111315;
}
.light-mode .book-page-card .book-page-card-category-indicator {
  color: #FFFFFF;
}
.light-mode .section-title {
  color: #111315;
}
.light-mode .modal-backdrop {
  background: rgba(242, 242, 242, 0.4);
}
.light-mode .modal-container {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px #F2F2F2;
}
.light-mode .modal-container .close line {
  stroke: #111315;
}
.light-mode .edit-book p {
  color: #111315;
}
.light-mode .input-block-container {
  background: #F2F2F2;
  color: #111315;
}
.light-mode .filter-books {
  color: #111315;
}
.light-mode .filter-books .filter-item:not(.checked) {
  border: solid 0.5px #111315;
  color: #111315;
}
.light-mode .filter-books .choose-filter {
  color: rgba(17, 19, 21, 0.5);
  border-bottom: solid 1px rgba(17, 19, 21, 0.1);
}
.light-mode .filter-books .filter-books-group-title {
  color: #B2AEAE;
}
.light-mode .filter-books .select-categories-container .category.checked {
  background: #FFFFFF;
}

body {
  height: 100vh;
  font-family: "open sans", sans-serif;
}

.star-icon path {
  stroke: #FFDD73;
  fill: #FFDD73;
}

svg {
  overflow: visible;
}
svg g {
  stroke-width: 1px;
}

.main {
  height: calc(100% - 56px);
  width: calc(100% - 159px);
  position: absolute;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}
.main::-webkit-scrollbar {
  display: none;
}
.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media only screen and (max-width: 1024px) {
  .main {
    width: calc(100% - 70px);
  }
}
@media only screen and (min-width: 320px) and (max-width: 923px) {
  .main {
    width: 100%;
  }
}

svg:not(.main-logo, :is(.filter-close-icon, .grid-item) .close, .top-bar :is(.hamburger)) {
  width: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 923px) {
  .top-bar :is(.hamburger, .search-icon, .close) {
    width: 20px !important;
  }
}
.section-title {
  text-transform: uppercase;
}
.section-title.green .section-title-icon {
  background: rgba(0, 218, 50, 0.1);
}
.section-title.green .section-title-icon g {
  stroke: #00DA32;
}
.section-title.red .section-title-icon {
  background: rgba(255, 76, 76, 0.1);
}
.section-title.red .section-title-icon g {
  stroke: #FF4C4C;
}
.section-title.purple .section-title-icon {
  background: rgba(164, 49, 249, 0.1);
}
.section-title.purple .section-title-icon g {
  stroke: #A431F9;
}
.section-title.orange .section-title-icon {
  background: rgba(249, 87, 49, 0.1);
}
.section-title.orange .section-title-icon g {
  stroke: #F95731;
}
.section-title-icon {
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.more {
  position: relative;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  height: 20px;
  width: 20px;
  background: rgba(178, 174, 174, 0.2);
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  border-radius: 100%;
}
.more div {
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #B2AEAE;
}

.filter-item {
  justify-content: space-between;
  border-radius: 20px;
  padding: 3px 10px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.filter-item.green {
  background: #00DA32;
}
.filter-item.red {
  background: #FF4C4C;
}
.filter-item.orange {
  background: #F95731;
}
.filter-item.purple {
  background: #A431F9;
}
.filter-item svg {
  height: fit-content;
}
.filter-item svg line {
  stroke: #FFFFFF;
  stroke-width: 2px;
}

.tag {
  justify-content: space-between;
  border-radius: 20px;
  padding: 3px 10px;
  text-transform: uppercase;
  height: 15px;
}
.tag.fill {
  background: #FF4C4C;
}
.tag.outline {
  background: rgba(178, 174, 174, 0.3);
  border: solid 1px #B2AEAE;
}
.tag.outline svg polyline {
  stroke: #B2AEAE;
}

[data-clickable=true] {
  cursor: pointer;
}

.check-boxes-container {
  flex-wrap: wrap;
  gap: 20px;
}

.check {
  gap: 5px;
}
.check > div {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
.check p {
  text-transform: uppercase;
}
.check svg {
  display: none;
}
.check.checked .check-mark {
  display: block;
  position: absolute;
  width: 6px;
  margin: auto;
  inset: 0;
  line-height: 0.9;
}
.check.checked .check-mark polyline {
  stroke-width: 2px;
}
.check > div.red {
  background: rgba(255, 76, 76, 0.3);
  border: solid 1px #FF4C4C;
}
.check > div.red svg polyline {
  stroke: #FF4C4C;
}
.check > div.green {
  background: rgba(0, 218, 50, 0.3);
  border: solid 1px #00DA32;
}
.check > div.green svg polyline {
  stroke: #00DA32;
}
.check > div.orange {
  background: rgba(249, 87, 49, 0.3);
  border: solid 1px #F95731;
}
.check > div.orange svg polyline {
  stroke: #F95731;
}
.check > div.purple {
  background: rgba(164, 49, 249, 0.3);
  border: solid 1px #A431F9;
}
.check > div.purple svg polyline {
  stroke: #A431F9;
}
.check > div.gray {
  background: rgba(178, 174, 174, 0.3);
  border: solid 1px #B2AEAE;
}
.check > div.gray svg polyline {
  stroke: #B2AEAE;
}

/*# sourceMappingURL=App.css.map */
