/* 
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

// utils
@import './utils/mixins.scss';
@import './utils/colors.scss';
@import './utils/button.scss';
@import './utils/font.scss';
@import './utils/form.scss';
@import './utils/grid.scss';
@import './utils/restructure.scss';
@import './utils/modal.scss';
@import './utils/filterbooks.scss';
@import './utils/editbooks.scss';
@import './helper.scss';


// components
@import './cards/bookcard.scss';
@import './cards/booklist.scss';
@import './cards/bookprogress.scss';
@import './cards/bookpagecard.scss';


//chart
@import './chart/linechart.scss';
@import './chart/bargraph.scss';

// navigation
@import './navigation/sidebar.scss';
@import './navigation/topbar.scss';
@import './navigation/search.scss';

// themes
@import './theme/dark.scss';
@import './theme/light.scss';

body{
    height: 100vh;
	font-family: "open sans" , sans-serif;
}

.star-icon{
	path{
		stroke: #FFDD73;
		fill:#FFDD73;
	}
}

svg{
	overflow: visible;
	g{
		stroke-width: 1px;
	}
}

.main{
	height: calc(100% - 56px);
	width: calc(100% - 159px);
	position: absolute;
	bottom:0;
	right: 0;
	overflow-y:scroll;

	@include hideScroll('&');

	@media only screen and (max-width:1024px){
        width: calc(100% - 70px);
    }

	@media only screen and (min-width: 320px) and (max-width:923px){
        width: 100%;
    }
}


svg:not(.main-logo , :is(.filter-close-icon , .grid-item) .close , .top-bar :is(.hamburger)){
	width: 15px;
}

@media only screen and (min-width: 320px) and (max-width:923px){
	.top-bar :is(.hamburger , .search-icon , .close){
		width: 20px !important;
	}
}

.section-title{
	text-transform: uppercase;

	@include sectionTitle("green" , $primaryGreen);
	@include sectionTitle("red" , $primaryRed);
	@include sectionTitle("purple" , $primaryPurple);
	@include sectionTitle("orange" , $primaryOrange);


	&-icon{
		border-radius: 5px;
		width: 20px;
		height: 20px;
	}
}

.more{
	position: relative;
	flex-direction: column;
	gap: 2px;
	height: 100%;
	height: 20px;
	width: 20px;
	background: rgba($gray , 0.2);
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	border-radius: 100%;

	div{
		width: 2px;
		height: 2px;
		border-radius: 100%;
		background: $gray;
	}
}

.filter-item{
    @include tag;
    @include solidBackground('&.green' , $primaryGreen);
    @include solidBackground('&.red' , $primaryRed);
    @include solidBackground('&.orange' , $primaryOrange);
    @include solidBackground('&.purple' , $primaryPurple);
	color: $white;
	svg{
		height: fit-content;
		line{
			stroke: $white;
			stroke-width: 2px;
		}
	}
}

.tag{
	@include tag;
	&.fill{
		@include solidBackground('&' , $primaryRed);
	}

	&.outline{
		@include semiTransparentColouredBorderBox('&' , $gray)
	}

	height: 15px;
}

[data-clickable="true"]{
	cursor: pointer;
}

.check-boxes-container{
	flex-wrap: wrap;
	gap:20px;
}

.filter-check{
	gap:5px;
	
	>div{
		position: relative;
		width: 10px;
		height:10px;
		border-radius:2px;
	}

	p{
		text-transform: uppercase;
	}

	svg{
		display: none;
	}

	&.checked{
		.check-mark{
			display: block;
			position: absolute;
			width: 6px;
			margin: auto;
			inset: 0;
			line-height: 0.9;

			polyline{
				stroke-width: 2px;
			}
		}
	}

	@include semiTransparentColouredBorderBox('& > div.red' , $primaryRed);
	@include semiTransparentColouredBorderBox('& > div.green' , $primaryGreen);
	@include semiTransparentColouredBorderBox('& > div.orange' , $primaryOrange);
	@include semiTransparentColouredBorderBox('& > div.purple' , $primaryPurple);
	@include semiTransparentColouredBorderBox('& > div.gray' , $gray)
}

