/* 
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

// utils
@import '../scss/utils/colors.scss';
@import '../scss/utils/font.scss';
@import '../scss/utils/form.scss';
@import '../scss/utils/grid.scss';

// components
@import '../scss/components/bookcard.scss';
@import '../scss/components/booklist.scss';
@import '../scss/components/bookgraph.scss';
@import '../scss/components/bookprogress.scss';

// navigation
@import '../scss/navigation/sidebar.scss';
@import '../scss/navigation/topbar.scss';

// themes
@import '../scss/theme/dark.scss';
@import '../scss/theme/light.scss';

body{
    height: 100vh;
	font-family: "open sans" , sans-serif;
}

h4{
	font-weight: 600;
	color: rgba($black , 0.8);
}

.flex{
	display: flex;
}

.justify-sb{
	justify-content: space-between;
}

.full-width{
	width: 100%;
}

.flex-column{
	flex-direction: column;
}

.v-h-center{
	place-content: center;
	flex-wrap: wrap;
}

.v-center{
	align-items: center;
}

.h-center{
	justify-content: center;
}

.opacity{
	opacity: 0.5;
}

strong{
	font-weight: 500;
}

svg{
	overflow: visible;
	g{
		stroke-width: 1px;
	}
}

.main{
	height: calc(100% - 76px);
	width: calc(100% - 159px);
	position: absolute;
	bottom:0;
	right: 0;
	overflow-y:scroll;

	@media only screen and (max-width:1024px){
        width: calc(100% - 70px);
    }

	@media only screen and (min-width: 320px) and (max-width:923px){
        width: 100%;
    }
}

.filter-item{
	justify-content: space-between;
	font-size:13px;
	border-radius: 20px;
	padding: 3px 10px;
	font-size: 10px;
	text-transform: uppercase;

	&.green{
		background: $primaryGreen;
	}

	&.red{
		background: $primaryRed;
	}
}

.hidden{
	display: none;
}

.margin-l-r-20{
	margin: 0 20px;
}

.padding-l-r-20{
	padding: 0 20px;
}

.side-bar-content , .top-bar-inner-search , .section-title-icon , .book-progress , .book-list{
	svg{
		width: 15px;
	}
}

.top-bar-inner-account{
	svg{
		width: 20px;
	}
}

.section-title{
	height: 50px;
	gap:5px;
	text-transform: uppercase;
	font-size: 10px;

	&.green{
		.section-title-icon{
			background: rgba($primaryGreen , 0.1);

			g{
				stroke:$primaryGreen;
			}
		}
	}

	&.red{
		.section-title-icon{
			background: rgba($primaryRed, 0.1);
			g{
				stroke:$primaryRed;
			}
		}
	}

	&.purple{
		.section-title-icon{
			background: rgba($primaryPurple, 0.1);
			g{
				stroke:$primaryPurple;
			}
		}
	}

	&.orange{
		.section-title-icon{
			background: rgba($primaryOrange , 0.1);
			g{
				stroke:$primaryOrange;
			}
		}
	}

	&-icon{
		border-radius: 5px;
		width: 20px;
		height: 20px;
	}
}